<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Caseimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-caseimages" data-rule="required" class="form-control" size="50" name="row[caseimages]" type="text" value="{$row.caseimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-caseimages" class="btn btn-danger plupload" data-input-id="c-caseimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-caseimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-caseimages" class="btn btn-primary fachoose" data-input-id="c-caseimages" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-caseimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-caseimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Caseswitch')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <input  id="c-caseswitch" name="row[caseswitch]" type="hidden" value="{$row.caseswitch}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-caseswitch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.caseswitch" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
